{% extends 'register/main_layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main_shop/css/guitars_in_stock.css' %}">
{% endblock%}

{% block body %}
<!------------------------------------------------------------------------------------------------------------------->
<!--Sign Uo Form-->
<div class="modal" id="id01">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close
Modal">times</span>
    <form class="modal-content" method="post">
        <div class="container1">
            {% csrf_token %}
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label><b>Name </b></label>
            {{ form.name }}
            <label><b>Nick Name </b></label>
            {{ form.nick_name }}
            <label><b>Email</b></label>
            {{ form.email }}
            <label><b>Password</b></label>
            {{ form.password }}
            <label><b>Repeat Password</b></label>
            {{ form.repeat_password }}
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label><br>
            <h1 style="color: red">{{ error }}</h1>
        </div>

        <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
        Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </form>
</div>
<!--Sign Uo Form-->

<!------------------------------------------------------------------------------------------------------------------->

<!--Guitars in stock-->
<h1 class="second_logo">Guitars</h1>
<hr class="new1">

<!--<h6 id="1" style="font-size:50px;color:black;"></h6>-->


<div id="myBtnContainer">
    <button class="btn" onclick="filterSelectionAll()"> Show all guitars</button>
    <button class="btn" onclick="filterSelection('column ibanez')"> Ibanez</button>
    <button class="btn" onclick="filterSelection('column ltd')"> LTD</button>
    <button class="btn" onclick="filterSelection('column b.c.rich')"> B.S.Rich</button>
</div>

<!-- ну гітари со списка явно отак должни братись, а не хардкодом  -->
<div class="row">
<!--    guitar замінить на guitars, а el на guitar, так лучше чітаємость -->
    {% for el in guitar %}
<!--    айдішка нада для того шоб удобно вибирать елємєнти, пользуйся :)-->
        <div class="column {{ el.guitar_model }}" id="guitar-block-{{ el.pk }}">
            <div class="content">
                <img src="{{ el.guitar_img.url }}" style="width:100%">
                <h4>{{ el.brand }}</h4>
                <p>{{ el.guitar_model }}</p>
                <button class="button-for-order"
                        onclick="MakeOrder(
                            'guitar model {{ el.model }}',
                            '{{ el.guitar_img.url }}',
                             {{ guitars_json }}
                             )">

                    make an order {{ el.price }}$
                </button>
            </div>
        </div>
    {% endfor %}
</div>

<!--Guitars in stock-->

<!------------------------------------------------------------------------------------------------------------------->

<!--Order Form-->
<!--
Коли рендериш нову формочку - нада мінять її значєнія жсом
-->
<div id="order_form" class="order_form">
    <form class="form_order-content">
        <div class="container_for_order">
            <h1>Make your order</h1>
            <hr>
            {% for el in guitar %}
                {% if el.guitar_model == guitar_ex %}
                        <p class="gt_inf1">Guitar Model: {{ el.guitar_model }}</p>
                        <p class="gt_inf2">Guitar Brand: {{ el.brand }}</p>
                        <p class="gt_inf3">Guitar Price: {{ el.price }}</p>
                    <img id="photo-block" src="{{ el.guitar_img.url }}" style="width:100%" alt=""><br>
                {% endif %}
            {% endfor %}
            <button class="buy-button">buy it</button>
        </div>
    </form>
</div>

<!--Order Form-->

<!------------------------------------------------------------------------------------------------------------------->

{% endblock %}



